<div class="card" *ngIf="cart.length == 0">
  <div class="card-body">
    <p>Your cart is empty.</p>
  </div>
</div>

<div class="card" *ngIf="cart.length !== 0">
  <div class="card-header">
    <div *ngIf="!isHeaderContentGiven">Cart View</div>
    <div *ngIf="isHeaderContentGiven">
      <ng-content select=".h"></ng-content>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartLine of cart" appHighlight="tomato">
          <td>{{ cartLine.product.name }}</td>
          <td>{{ cartLine.product.price | currency : "INR" }}</td>
          <td>
            <button
              class="btn btn-primary btn-sm"
              (click)="handleIncrease(cartLine.product.id)"
            >
              +
            </button>
            {{ cartLine.quantity }}
            <button
              class="btn btn-primary btn-sm"
              (click)="handleDecrease(cartLine.product.id)"
            >
              -
            </button>
          </td>
          <td>
            {{ cartLine.product.price * cartLine.quantity | currency : "INR" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer" #footer>
    <!--    <ng-content select=".f"></ng-content>-->
    <div class="d-flex justify-content-between">
      <button class="btn btn-danger" (click)="handleClear()">Clear Cart</button>
      <!-- <button class="btn btn-primary" (click)="handleCheckout()">Checkout</button> -->
    </div>
  </div>
</div>
